# board and mcu selection
CONFIG_SOC_TI_TM4C12XX=y
CONFIG_BOARD_EK_TM4C123GXL=y

CONFIG_CORTEX_M_SYSTICK=y

# open ocd 
CONFIG_BUILD_OUTPUT_HEX=y

CONFIG_UART_INTERRUPT_DRIVEN=y
# CONFIG_DYNAMIC_INTERRUPTS=y